
.attachment-widget__dnd {
    position: relative;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #7f858a;
    border-radius: 3px;
}

.attachment-widget__dnd.dnd_hover {
    color: #999;
    background-color: #eee;
}

.attachment-widget__dnd-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: normal;
    padding: 20px;
    line-height: 1;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
    color: #ccc;
    border-radius: 2px;
}

.attachment-widget__dnd-icon {
    font-size:40px;
}

.attachment-widget__dnd-strong {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.attachment-widget__files {
    min-height: 100px;
}

.attachment-widget__file {
    margin: 3px;
    position: relative;
}

.attachment-widget__file:after {
    display: block;
    clear: both;
    content: '';
}

.attachment-widget__file-meta {
    margin-left: 100px;
    text-align: left;
}

.attachment-widget__file-preview {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    margin-bottom: 5px;

    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    transition: transform .2s ease-in;
}

.attachment-widget__file-rotate {
    top: 40%;
    left: 50%;
    width: 14px;
    height: 14px;
    margin-left: -7px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.attachment-widget__file-preview:hover .attachment-widget__file-rotate {
    opacity: 1;
}

.attachment-widget__file-name {
    margin-right: 5px;
}

.attachment-widget__file-error {
    display: none;
    font-size: 11px;
}

.attachment-widget__file-remove {
    color: #f56954;
    cursor: pointer;
}

.attachment-widget__file-preview:hover .attachment-widget__file-remove {
    opacity: 1;
}

.attachment-widget__file-progress {
    height: 5px;
    padding: 1px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);

    bottom: 0;
    left: 10px;
    right: 10px;
    position: absolute;
}

.attachment-widget__button-add {
    position: relative;
}

.attachment-widget__input {
    border: none;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
}

.attachment-widget__button-add .attachment-widget__input,
.attachment-widget__button-add > input[type='file'] {
    display: block !important;
    width: 100% !important;
    height: 35px !important;
    opacity: 0 !important;
    position: absolute;
    top: -10px;
    cursor: pointer;
}
